/* Carousel */


/* Slider */
.slider-img{
    width: 100%;
}

/* ContainerText01 */
h1{
    text-align: center;
    padding-top: 30px;
    margin-top:20px;
}

h4{
    text-align: center;
}

.icons-text{
    text-align: justify;
    font-size: 13px;
    padding: 5px 20px;
}

.box-icon{
    text-align:center;
}

.row-icons{
    padding-top: 65px;
}

.icon{
    width: 100%;
    max-width: 100px;
    align-items: center;
}

.box-ca{
    margin-top: 30px;
    align-items: center;
    text-align :center;
}

.box-carousel-text{
    margin-bottom: 12px;
}

.button{
    margin-top: 20px;
    background-color: #001E21;       
    color: #fff;
    border-radius: 30px;
    padding: 8px 20px;
    width: 300px;
    font-size: 30px;
}

.button-carousel{
    margin: 0;
    border: 0;
}
    .button-carousel:hover{
        background-color:#000F10 ;
        color: #fff;
    }
    
.box-container2{
    margin-top: 45px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
}

.footer{
    background-color: #fff;
    color: #001E21;
}

/* Carousel-Cards - Imóveis em Destaque */
.slider-carousel{
    background-image: url("img/bg/bg-azul2.svg");
}
.single-box{
    background-color: #fff;
    border: solid 0.5px gray;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px;
    align-items: center;
    text-align: center;
}
    .destaque{
        color: #6E2E00;
    }
    .img-area{
        max-height: 350px;
        padding: 20px;
    }

    .img-card{
        width: 100%;
        border-radius: 20px;
    }
        .button-card{
            background-color: #001E21;
            color: #fff;
            font-size: 20px;
            padding: 5px;
            width: 180px;
            margin-top: 2px;
            margin-bottom: 5px;
        }
.text-main{
    font-size: 80px;
    text-align: left;
    width: 100%;
}